# /node_modules
# /public/hot
/storage/app
# /vendor
# .env
.env.backup

.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
resources/lang/en
resources/lang/id
/.idea
/.vscode
.env
# node_modules
